<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251233165361-q6d83ohjq4siuac6dnkskp6v9pvacmrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251233165361-q6d83ohjq4siuac6dnkskp6v9pvacmrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCohgghg1i4IcXrNFUDbaEdqmfsow7BB3w</string>
	<key>GCM_SENDER_ID</key>
	<string>251233165361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aa.Message-Room</string>
	<key>PROJECT_ID</key>
	<string>message-room-19485</string>
	<key>STORAGE_BUCKET</key>
	<string>message-room-19485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251233165361:ios:eed13e64ad5df550e9f510</string>
</dict>
</plist>